<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_tracking_id = "kevinmarquett-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Powershell Books";
amzn_assoc_linkid = "ff0d40e54bcb776a9db373bcede9340d";
amzn_assoc_asins = "1617291080,1449320686,1617291315,1783551739,1617291161,1617290556,1535152664,1484205421,1484200179,1783980702,1449322700,B01JCZATU4,1785283324,1533045364";
amzn_assoc_search_bar = "false";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>