
{% if page.layout == "post_json" %}

<script type="application/ld+json">
{ "@context": "http://schema.org", 
 "@type": "BlogPosting",
 {% if page.title %}"headline": {% page.title %},{% endif %}
 {% if page.subtitle %}"alternativeHeadline": {% page.subtitle %},{% endif %}
 "editor": "Kevin Marquette",  
 {% if page.tags %}"keywords": {% page.tags %},{% endif %}
 "publisher": "Kevin Marquette",
 "url": "https://kevinmarquette.github.io{% page.url %}",
 "datePublished": "{% page.date %}",
 "dateCreated": "{% page.date %}"
 }
</script>

{% endif %}